<div class="col-md-9 col-md-offset-1">
  <h4>Comments</h4>
  <% post.comments.forEach(function (comment, index) { %>
    <div><p><%- comment.content %></p></div>
    <div class="info">
      <i class="fa fa-user"></i><a href="/user/<%= comment.user %>"> <%= comment.user %></a> |
      <i class="fa fa-clock-o"></i><small> <%= comment.time %></small>
    </div>
    <hr>
  <% }) %>
</div>

<form name="post-form" class="col-md-9 col-md-offset-1" method="post">
  <div class="form-group">
    <label for="inputContent">Comment</label>
    <textarea type="text" name="content" id="inputContent" class="form-control" rows="8" required></textarea>
  </div>
  <input class="btn btn-primary" type="submit" value="Comment"/>
</form>
